.navbar {
  display: flex;
  background-color: tomato;
  flex-direction: row;
  flex-wrap: wrap;
}

.brand .link{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.brand .link:hover {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}


.nav {
  display: inline-flex;
    float: right;
    margin: 0;
}

.nav .navitem {
  margin: 10px 5px 5px 5px;
}
.nav .navitem .link  {
  font-size: 20px;
  font-weight: bold;
  margin: 11px 5px 5px 5px;
  color: white;
}

.nav .navitem .link:hover {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.badge {
  background-color: rgb(209, 86, 64);
  font-size: 15px;
  margin: 0 0 20px 5px;
}

